:root {
    font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC','Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center-header {
    display:inline-flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.header-size {
    font-size: 30px;
}